@import "tailwindcss";

:root {
    --background-color-light: #F5F0E8;
    --menu-color-light: #EDE7D9;
    --menu-color-medium: #DDD1B6;
    --border-color-light: #C8BC9E;
    --grid-lines-light: #b4a06e40;
    --soft-text-light: #6B5C3E;
    --hard-text-dark: #262626;
    --soft-lines: #9C8B6E;
    --accent: #8B5E3C;

    --inline-padding-sm: 1em;
    --inline-padding-md: 8em;
    --block-padding-md: 2rem;

    --width-sm: 32rem;
    --width-lg: 44rem;
    --width-xl: 60rem;
    
    --navbar-height: 5rem;
}

body {
    background-color: var(--menu-color-light);
}

main {
    background-color: var(--background-color-light);
    background-size: 20px 20px;
    background-image:
      linear-gradient(to right, var(--grid-lines-light) 1px, transparent 1px),
      linear-gradient(to bottom, var(--grid-lines-light) 1px, transparent 1px);
}

#sidebar {
    max-width: 25rem;
    @starting-style {
        transform: translateX(100%);
    }
}

.page {
    display: flex;
    flex-direction: column;
    padding-block: var(--block-padding-md);
    gap: 1.5rem;
}

.page h1 {
    font-size: 1.2rem;
    text-align: center;
} 

.page h2 {
    text-align: center;
    text-transform: capitalize;
}

.page img {
    width: 80%;
    max-width: 26rem;
    margin-inline: auto;
}

.page table {
    margin-inline: auto;
    border: 1px solid var(--hard-text-dark);
    border-collapse: collapse;
}

.page table th {
    background-color: var(--menu-color-medium);
}

.page table th, td {
    border: 1px solid var(--hard-text-dark);
    text-align: center;
    padding-inline: 2rem;
    padding-block: 0.5rem;
}

.page a {
    text-decoration: underline;
}

.page ul {
    list-style: square inside;
}

.page ul li::marker {
    color: var(--accent);
}

.page ol {
    list-style: auto inside;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.page ol li {
    font-size: 1.1rem;
    margin-bottom: -1rem;
}

.page dt {
    font-weight: bold;
}

.page dd {
    padding-left: var(--inline-padding-sm);
}

.page dd:not(.page dd:last-child) {
    margin-bottom: 1em;
}

.page .square-table th, td {
    padding: 1rem;
}

.square-table div {
    width: 2rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transitivity-horizontal {
    background:
        linear-gradient(
            to bottom,
            transparent calc(50% - 2px),
            lightsteelblue calc(50% - 2px),
            lightsteelblue calc(50% + 2px),
            transparent calc(50% + 2px)
        );
}

.transitivity-vertical {
    background:
        linear-gradient(
            to left,
            transparent calc(50% - 2px),
            lightcoral calc(50% - 2px),
            lightcoral calc(50% + 2px),
            transparent calc(50% + 2px)
        );
}

@media (width >= 80rem) {
    #sidebar {
        width: calc((100% - var(--width-lg))/2 - 2rem);
        left: calc((100% - var(--width-lg))/2 + var(--width-lg) + 1rem);
        top: calc(var(--navbar-height) + var(--block-padding-md));
        max-height: calc(100% - var(--navbar-height) - var(--block-padding-md)*2)
    }
}

@media (width >= 96rem) {
    #sidebar {
        width: calc((100% - var(--width-xl))/2 - 2rem);
        left: calc((100% - var(--width-xl))/2 + var(--width-xl) + 1rem);
    }
}
